.swiper {
    position: relative;
    width: 100%;
    height: 145px;
    margin-top: -77px;
    margin-bottom: 28px;
    @include iphoneXR {
    }
    @include iphoneX {
        margin-top: -74px;
        margin-bottom: 22px;
    }
    @include iphoneSE {
        margin-top: -62px;
        margin-bottom: 14px;
        height: 110px;
    }
}

.slider-item {
    width: 375px;
    border-radius: 10px;
    background: var(--cards-bg);
    padding: 20px;
    @include iphoneX {
        width: 335px;
    }
    @include iphoneSE {
        width: 280px;
        padding: 16px;
        height: 110px;
    }
}

.slider-item__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    @include iphoneSE {
        margin-bottom: 7px;
    }
}

.slider-item__title {
    font-family: "SFProText";
    font-size: 15px;
    margin: 0;
    letter-spacing: 0.5px;
    color: var(--textColor);
}

.slider-item__subtitle {
    font-family: "SFProText";
    font-weight: 400;
    font-size: 15px;
    color: var(--textColor);
    opacity: 0.5;
}

.slider-item__stars {
    display: flex;
    margin-bottom: 16px;
    @include iphoneX {
        margin-bottom: 17px;
    }
    @include iphoneSE {
        margin-bottom: 10px;
    }
}

.star {
    width: 21px;
    height: 21px;
    margin-right: 4px;
    @include iphoneX {
        margin-right: 5px;
    }
    @include iphoneSE {
        width: 17px;
        height: 17px;
        margin-right: 2px;
    }
    @include retina {
        display: none;
    }
}

.star-retina {
    display: none;
    width: 21px;
    height: 21px;
    @include retina {
        display: block;
        margin-right: 4px;
        @include iphoneX {
            margin-right: 5px;
        }
        @include iphoneSE {
            width: 17px;
            height: 17px;
            margin-right: 2px;
        }
    }
}

.slider-item__discription {
    font-family: "SFProText";
    font-size: 15px;
    line-height: 18px;
    color: var(--textColor);
    @include iphoneSE {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: -0.1px;
    }
}
