@import "mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  @include iphoneXR {
    overflow: hidden;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
  @include iphoneXR {
    width: 100%;
  }
}

@import "header.scss";

@import "slider.scss";

@import "options.scss";

@import "footer.scss";

@import "iphone-home-indicator.scss";
