header.header
    .container
        .header__btn
            +button("btn-select-theme")
            +button("btn-close")
        h1.header__title Try Verv for free
        +navMenu("header__nav", "nav-list", "nav-list__item", "link-item")
        .header__block-woman
            img(src="./images/women.svg" class="woman-img" alt="")