header.header
    .container
        .header__btn
            +button("btn-select-theme")
            +button("btn-close")
        h1.header__title Try Verv for free
        .header__nav-wrapper
            +navMenu("header__nav", "nav-list", "nav-list__item", "link-item")
            .block-lines
                .line.top
                .line.bottom
                .block-free
                    img(class="cloud" src="./images/cloud.png" alt="cloud")
                    img(class="cloud-retina" src="./images/cloud-retina.png" alt="cloud")
                    img(class="cloud-text" src="./images/Free.svg" alt="free")
                    img(class="dot" src="./images/red dot.png" alt="dot")
                    img(class="dot-retina" src="./images/red dot-retina.png" alt="dot")
                .block-pro
                    img(class="cloud" src="./images/cloud.png" alt="cloud")
                    img(class="cloud-retina" src="./images/cloud-retina.png" alt="cloud")
                    img(class="cloud-text" src="./images/PRO.svg" alt="pro")
                    img(class="dot" src="./images/green dot.png" alt="dot")
                    img(class="dot-retina" src="./images/green dot-retina.png" alt="dot")
        .header__block-woman
            img(src="./images/woman.png" class="woman-img" alt="woman")
            img(src="./images/woman-retina.png" class="woman-retina-img" alt="woman")