.container
    .options
        .first-option.option
            h4.option__title 
                span 1
                |   month
            .option__full-price 
                span $14.99 /
                |   month
            p.option__price-per-month month: $14.99
        .second-option.option
            .header-option
                h5.header-option__text SAVE 80%
            .body-option
                h4.option__title
                    span 12
                    |   months
                .option__full-price 
                    span $39.99
                    |   per year
                p.option__price-per-month month: $3.33
        .third-option.option
            .header-option
                h5.header-option__text SAVE 90%
            .body-option
                h4.option__title 
                    span 3 
                    |   months
                .option__full-price 
                    span $29.99 /
                    |   3 month
                p.option__price-per-month month: $9.99
            .footer-option
                h5.footer-option__text SALE
    .btn__select-option
        +button("btn-continue", "Continue")