-let cardsSlider = ['Fantastic'];

.container
    .slider-block
        each value in cardsSlider
            .slider-item
                h3.title-card-slider #{value}
                .stars
                    img(class="star" src="./images/Star.svg" alt="")
                    img(class="star" src="./images/Star.svg" alt="")
                    img(class="star" src="./images/Star.svg" alt="")
                    img(class="star" src="./images/Star.svg" alt="")
                    img(class="star" src="./images/Star.svg" alt="")
                p.discription #{value}